
  <div class="row align-items-start">
    <div class="col-4">
      <div id="banner">
        <div id="banner-text">
          <h1>My list of movies</h1>
          <h2>Save your favorites movies</h2>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container">
      <% @lists.each do |list| %>
        <div class="card-list">
        <%= cl_image_tag @list.photo.key, height: 150, width: 200, crop: :fill %>
        <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
      <div id="card-add-list">
        <%= link_to "add a list", new_list_path %>
      </div>
      </div>
    </div>
  </div>
