
  <div class="row align-items-start">
    <div class="col-4">
      <div id="banner">
        <div id="banner-text">
          <h1>My list of movies</h1>
          <h2>Save your favorites movies</h2>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container">
      <% @lists.each do |list| %>
        <div class="card-list">
        <%= list.photo.attached? ? cl_image_tag(list.photo.key,height: 150, width: 200) : image_tag("banner-homepage", height: 150, width: 200) %>
        <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>

        <%= link_to new_list_path do %>
        <div class= "btn">
          Add a list
        </div>
        <% end  %>
      </div>
      </div>
    </div>
  </div>
