h2{
  font-family: 'Space Mono', monospace;
}

h3, p{
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3{
  font-weight: 600;
  padding-top: 10px;
  width: 200px;
}

.pb-30{
  padding-bottom: 30px;
}

.pt-15{
  padding-top: 15px;
}

.mb-30{
  margin-bottom: 30px;
}

.fr{
  float: right;
}

.mr-30{
  margin-right: 30px;
}

.ml-30{
  margin-left: 30px;
}
