.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar{
  background-color: #DFD8CA;
}

#nav-left{
  display: flex;
  justify-content: left;
  svg{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 30px;
  }
  p{
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 20px ;
  }
}
